@model RoomType

@{
    ViewData["Title"] = "Delete";
}

<div class="row">
    <div class="col-12">
        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title font-weight-bold">Otaq Tipləri</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <h4>@Model.Name -adlı otaq tipini sil</h4>
                <div class="text-danger">Bu otaq tipini silməyə əminsiniz?</div>
            </div>
            <div class="card-footer">
                <form method="post" class="forms-sample mt-3">
                    <button type="submit" class="btn btn-danger btn-md">Bəli</button>
                    <a asp-action="Index" class="btn btn-secondary ml-3">Geri</a>
                </form>
            </div>
            
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>